html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: black;
    background-image: url("/images/sticker-bomb-laptop-pc.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.countdown {
    margin: auto;
    text-align: center;
    color: white;
}